.photos-list {
    display: flex;
    flex-wrap: wrap;
}
.main {
    display: flex;
    width: auto;
    height: 100vh;
}
.section-one {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-text-block {
    width: 90%;
    background-color: rgba(255,255,255, 0.3);
}
.section-text-block p {
    padding: 20px;
}